{{ partial "header.html" . }}

	<header id="header" class="header{{ if .Site.Params.cover }} has-cover{{ end }}">
		<div class="inner">
			<a class="header-title" href="{{ .Site.BaseURL }}">
				<h1 class="header-name">{{ .Site.Title }}</h1>
				{{ if .Site.Params.Subtitle }}
					<span class="header-description">{{ .Site.Params.Subtitle }}</span>
				{{ end }}
			</a>
		</div>
		{{ if .Site.Params.cover }}
		<div class="header-cover blured-image" style="" data-src="{{ .Site.BaseURL }}/{{ .Site.Params.cover }}"></div>
		{{ end }}
	</header>

	<div id="post-index" class="container">

		<main class="content" role="main">

			<h3 class="sections-title">Sections</h3>
	
			<div class="post-list">
				<div id="push">
					{{ range .Site.Sections }}
					  {{ .Render "section-block" }}
					{{ end }}
				</div>
			</div>

		</main>

	</div>

{{ partial "footer.html" . }}
